.App {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.crossed-out {
    color: red;
}

form, ul {
    /* display: flex;
    flex-direction: column; */
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Form {
}

.Radio {
margin-bottom: 10px;
}

.App .Search {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
}

.TodoList {
    list-style: none;
}

.TodoItem-content {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.TodoItem-content p {
    margin-right: auto;
}

input[type="text"],
input[type="radio"],
input[type="checkbox"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}